.filters {
    margin: 20px;
}

.filters button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filters button:hover {
    background-color: #444;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.vignette {
    position: relative;
    width: 300px;
    height: 400px; 
    margin: 20px;
    overflow: hidden;
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
    background-color: #222; 
}

.vignette img {
    width: 100%;
    height: 200px; 
    object-fit: cover; /* Assure que l'image couvre l'espace défini */
}

.content {
    padding: 15px;
    background-color: #222; 
    color: #fff; 
}

.content h2 {
    margin: 0 0 10px;
    font-size: 1.3em;
}

.content p {
    margin: 5px 0;
}

.content .link {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.vignette .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.vignette .overlay p {
    margin-bottom: 20px; 
}

.vignette .overlay .link {
    margin-top: 0; 
}

.vignette:hover {
    transform: scale(1.05);
}

.vignette:hover .overlay {
    opacity: 1;
}

#logo{
    margin-right: 20px;
}

#outils{
    margin-bottom: 10vh;
}
